{{!-- ================================
      TREASURE: EQUIPMENT
      - Weapons
      - Armor
      - Misc Equipment
================================ --}}

<section class="treasure-equipment">

  <h3>Weapons</h3>
  <ol class="item-list">
    {{#each treasureEquipment.weapons as |i|}}
      <li class="treasure-item" data-item-id="{{i.id}}">
        <div class="item-row flexrow">
          <div class="item-name">{{i.name}}</div>

          <a class="item-control equipment-weapon-attack-roll" title="Attack Roll">
            <i class="fas fa-dice-d20"></i>
          </a>

          <a class="item-control equipment-weapon-damage-roll" title="Damage Roll">
            <i class="fas fa-burst"></i>
          </a>

          <label class="equip-toggle">
            <input type="checkbox"
                   class="treasure-equip-toggle"
                   {{checked i.system.equipped}} />
            Equipped
          </label>

          <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
          <a class="item-control treasure-move-storage" title="Move to/from Storage"><i class="fas fa-box"></i></a>
          <a class="item-control treasure-item-delete" title="Delete"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>

  <h3>Armor</h3>
  <ol class="item-list">
    {{#each treasureEquipment.armor as |i|}}
      <li class="treasure-item" data-item-id="{{i.id}}">
        <div class="item-row flexrow">
          <div class="item-name">{{i.name}}</div>

          <label class="equip-toggle">
            <input type="checkbox"
                   class="treasure-equip-toggle"
                   {{checked i.system.equipped}} />
            Equipped
          </label>

          <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
          <a class="item-control treasure-move-storage" title="Move to/from Storage"><i class="fas fa-box"></i></a>
          <a class="item-control treasure-item-delete" title="Delete"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>

  <h3>Misc Equipment</h3>
  <ol class="item-list">
    {{#each treasureEquipment.misc as |i|}}
      <li class="treasure-item" data-item-id="{{i.id}}">
        <div class="item-row flexrow">
          <div class="item-name">{{i.name}}</div>

          <label class="equip-toggle">
            <input type="checkbox"
                   class="treasure-equip-toggle"
                   {{checked i.system.equipped}} />
            Equipped
          </label>

          <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
          <a class="item-control treasure-move-storage" title="Move to/from Storage"><i class="fas fa-box"></i></a>
          <a class="item-control treasure-item-delete" title="Delete"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>

</section>
