{{!-- ================================
      TREASURE: EQUIPMENT
      - Weapons
      - Armor
      - Misc Equipment
================================ --}}

<section class="treasure-equipment">

  <h3>Weapons</h3>
  <ol class="item-list">
    {{#each treasureEquipment.weapons as |i|}}
      <li class="treasure-item" data-item-id="{{i.id}}">
        <div class="item-row flexrow">
          <div class="item-name flexrow">
            <img src="{{i.img}}" title="{{i.name}}" width="24" height="24" />
            <span class="name">{{i.name}}</span>
          </div>

          <div class="item-controls flexrow">
            <label class="equipped">
              <input type="checkbox" class="treasure-equip-toggle" {{#if i.system.equipped}}checked{{/if}} />
              Equipped
            </label>
            {{#if ../hasDimensionalStorage}}
              <button type="button" class="treasure-move-storage" data-action="toggle-storage" title="Move to/from Dimensional Storage">
                {{#if (eq i.system.location "dimensional")}}To Pack{{else}}To Storage{{/if}}
              </button>
            {{/if}}
            <button type="button" class="treasure-item-delete" title="Delete Item">X</button>
          </div>
        </div>
      </li>
    {{/each}}
    {{#unless treasureEquipment.weapons.length}}
      <li class="hint">No weapons.</li>
    {{/unless}}
  </ol>

  <h3>Armor</h3>
  <ol class="item-list">
    {{#each treasureEquipment.armor as |i|}}
      <li class="treasure-item" data-item-id="{{i.id}}">
        <div class="item-row flexrow">
          <div class="item-name flexrow">
            <img src="{{i.img}}" title="{{i.name}}" width="24" height="24" />
            <span class="name">{{i.name}}</span>
          </div>

          <div class="item-controls flexrow">
            <label class="equipped">
              <input type="checkbox" class="treasure-equip-toggle" {{#if i.system.equipped}}checked{{/if}} />
              Equipped
            </label>
            {{#if ../hasDimensionalStorage}}
              <button type="button" class="treasure-move-storage" data-action="toggle-storage" title="Move to/from Dimensional Storage">
                {{#if (eq i.system.location "dimensional")}}To Pack{{else}}To Storage{{/if}}
              </button>
            {{/if}}
            <button type="button" class="treasure-item-delete" title="Delete Item">X</button>
          </div>
        </div>
      </li>
    {{/each}}
    {{#unless treasureEquipment.armor.length}}
      <li class="hint">No armor.</li>
    {{/unless}}
  </ol>

  <h3>Misc Equipment</h3>
  <ol class="item-list">
    {{#each treasureEquipment.gear as |i|}}
      <li class="treasure-item" data-item-id="{{i.id}}">
        <div class="item-row flexrow">
          <div class="item-name flexrow">
            <img src="{{i.img}}" title="{{i.name}}" width="24" height="24" />
            <span class="name">{{i.name}}</span>
          </div>

          <div class="item-controls flexrow">
            <label class="equipped">
              <input type="checkbox" class="treasure-equip-toggle" {{#if i.system.equipped}}checked{{/if}} />
              Equipped
            </label>
            {{#if ../hasDimensionalStorage}}
              <button type="button" class="treasure-move-storage" data-action="toggle-storage" title="Move to/from Dimensional Storage">
                {{#if (eq i.system.location "dimensional")}}To Pack{{else}}To Storage{{/if}}
              </button>
            {{/if}}
            <button type="button" class="treasure-item-delete" title="Delete Item">X</button>
          </div>
        </div>
      </li>
    {{/each}}
    {{#unless treasureEquipment.gear.length}}
      <li class="hint">No misc equipment.</li>
    {{/unless}}
  </ol>

</section>
