{{!-- BODY – SWIFTNESS --}}

<details class="skills-section skills-section-body-swiftness">
  <summary>Body – Swiftness</summary>

  <table class="skills-table">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Att</th>
        <th>Trained</th>
        <th>Race</th>
        <th>BG</th>
        <th>Rank</th>
        <th>Misc</th>
        <th>Total</th>
        <th>Roll</th>
      </tr>
    </thead>
    <tbody>

      {{!-- Acrobatics --}}
      <tr>
        <td>Acrobatics</td>
        <td>{{system.attributes.body.swiftness.total}}</td>
        <td>
          <input type="checkbox"
                 name="system.skills.body.swiftness.acrobatics.trained"
                 {{checked system.skills.body.swiftness.acrobatics.trained}} />
        </td>
        <td>{{system.skills.body.swiftness.acrobatics.racialBonus}}</td>
        <td>{{system.skills.body.swiftness.acrobatics.backgroundBonus}}</td>
        <td>{{system.skills.body.swiftness.acrobatics.rankBonus}}</td>
        <td>
          <input type="number"
                 name="system.skills.body.swiftness.acrobatics.misc"
                 value="{{system.skills.body.swiftness.acrobatics.misc}}" />
        </td>
        <td>{{system.skills.body.swiftness.acrobatics.total}}</td>
        <td>
          <button type="button"
                  class="roll-any"
                  data-rolltype="skill"
                  data-path="body.swiftness.acrobatics">
            🎲
          </button>
        </td>
      </tr>

      {{!-- Stealth --}}
      <tr>
        <td>Stealth</td>
        <td>{{system.attributes.body.swiftness.total}}</td>
        <td>
          <input type="checkbox"
                 name="system.skills.body.swiftness.stealth.trained"
                 {{checked system.skills.body.swiftness.stealth.trained}} />
        </td>
        <td>{{system.skills.body.swiftness.stealth.racialBonus}}</td>
        <td>{{system.skills.body.swiftness.stealth.backgroundBonus}}</td>
        <td>{{system.skills.body.swiftness.stealth.rankBonus}}</td>
        <td>
          <input type="number"
                 name="system.skills.body.swiftness.stealth.misc"
                 value="{{system.skills.body.swiftness.stealth.misc}}" />
        </td>
        <td>{{system.skills.body.swiftness.stealth.total}}</td>
        <td>
          <button type="button"
                  class="roll-any"
                  data-rolltype="skill"
                  data-path="body.swiftness.stealth">
            🎲
          </button>
        </td>
      </tr>

      {{!-- Sleight of Hand --}}
      <tr>
        <td>Sleight of Hand</td>
        <td>{{system.attributes.body.swiftness.total}}</td>
        <td>
          <input type="checkbox"
                 name="system.skills.body.swiftness.sleightOfHand.trained"
                 {{checked system.skills.body.swiftness.sleightOfHand.trained}} />
        </td>
        <td>{{system.skills.body.swiftness.sleightOfHand.racialBonus}}</td>
        <td>{{system.skills.body.swiftness.sleightOfHand.backgroundBonus}}</td>
        <td>{{system.skills.body.swiftness.sleightOfHand.rankBonus}}</td>
        <td>
          <input type="number"
                 name="system.skills.body.swiftness.sleightOfHand.misc"
                 value="{{system.skills.body.swiftness.sleightOfHand.misc}}" />
        </td>
        <td>{{system.skills.body.swiftness.sleightOfHand.total}}</td>
        <td>
          <button type="button"
                  class="roll-any"
                  data-rolltype="skill"
                  data-path="body.swiftness.sleightOfHand">
            🎲
          </button>
        </td>
      </tr>

      {{!-- Disarm --}}
      <tr>
        <td>Disarm</td>
        <td>{{system.attributes.body.swiftness.total}}</td>
        <td>
          <input type="checkbox"
                 name="system.skills.body.swiftness.disarm.trained"
                 {{checked system.skills.body.swiftness.disarm.trained}} />
        </td>
        <td>{{system.skills.body.swiftness.disarm.racialBonus}}</td>
        <td>{{system.skills.body.swiftness.disarm.backgroundBonus}}</td>
        <td>{{system.skills.body.swiftness.disarm.rankBonus}}</td>
        <td>
          <input type="number"
                 name="system.skills.body.swiftness.disarm.misc"
                 value="{{system.skills.body.swiftness.disarm.misc}}" />
        </td>
        <td>{{system.skills.body.swiftness.disarm.total}}</td>
        <td>
          <button type="button"
                  class="roll-any"
                  data-rolltype="skill"
                  data-path="body.swiftness.disarm">
            🎲
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</details>
