{{!-- BODY – MIGHT --}}

<details open class="skills-section skills-section-body-might">
  <summary>Body – Might</summary>

  <table class="skills-table">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Trained</th>
        <th>Race</th>
        <th>Background</th>
        <th>Rank</th>
        <th>Misc</th>
        <th>Total</th>
        <th>Roll</th>
      </tr>
    </thead>
    <tbody>

      {{!-- Athletics --}}
      <tr>
        <td>Athletics</td>
        <td>
          <input
            type="checkbox"
            name="system.skills.body.might.athletics.trained"
            {{checked system.skills.body.might.athletics.trained}} />
        </td>
        <td>{{system.skills.body.might.athletics.racialBonus}}</td>
        <td>{{system.skills.body.might.athletics.backgroundBonus}}</td>
        <td>{{system.skills.body.might.athletics.rankBonus}}</td>
        <td>
          <input
            type="number"
            name="system.skills.body.might.athletics.misc"
            value="{{system.skills.body.might.athletics.misc}}" />
        </td>
        <td>{{system.skills.body.might.athletics.total}}</td>
        <td>
          <button
            type="button"
            class="roll-any"
            data-rolltype="skill"
            data-path="body.might.athletics">
            🎲
          </button>
        </td>
      </tr>

      {{!-- Brute Force --}}
      <tr>
        <td>Brute Force</td>
        <td>
          <input
            type="checkbox"
            name="system.skills.body.might.bruteForce.trained"
            {{checked system.skills.body.might.bruteForce.trained}} />
        </td>
        <td>{{system.skills.body.might.bruteForce.racialBonus}}</td>
        <td>{{system.skills.body.might.bruteForce.backgroundBonus}}</td>
        <td>{{system.skills.body.might.bruteForce.rankBonus}}</td>
        <td>
          <input
            type="number"
            name="system.skills.body.might.bruteForce.misc"
            value="{{system.skills.body.might.bruteForce.misc}}" />
        </td>
        <td>{{system.skills.body.might.bruteForce.total}}</td>
        <td>
          <button
            type="button"
            class="roll-any"
            data-rolltype="skill"
            data-path="body.might.bruteForce">
            🎲
          </button>
        </td>
      </tr>

      {{!-- Heft --}}
      <tr>
        <td>Heft</td>
        <td>
          <input
            type="checkbox"
            name="system.skills.body.might.heft.trained"
            {{checked system.skills.body.might.heft.trained}} />
        </td>
        <td>{{system.skills.body.might.heft.racialBonus}}</td>
        <td>{{system.skills.body.might.heft.backgroundBonus}}</td>
        <td>{{system.skills.body.might.heft.rankBonus}}</td>
        <td>
          <input
            type="number"
            name="system.skills.body.might.heft.misc"
            value="{{system.skills.body.might.heft.misc}}" />
        </td>
        <td>{{system.skills.body.might.heft.total}}</td>
        <td>
          <button
            type="button"
            class="roll-any"
            data-rolltype="skill"
            data-path="body.might.heft">
            🎲
          </button>
        </td>
      </tr>

      {{!-- Intimidation --}}
      <tr>
        <td>Intimidation</td>
        <td>
          <input
            type="checkbox"
            name="system.skills.body.might.intimidation.trained"
            {{checked system.skills.body.might.intimidation.trained}} />
        </td>
        <td>{{system.skills.body.might.intimidation.racialBonus}}</td>
        <td>{{system.skills.body.might.intimidation.backgroundBonus}}</td>
        <td>{{system.skills.body.might.intimidation.rankBonus}}</td>
        <td>
          <input
            type="number"
            name="system.skills.body.might.intimidation.misc"
            value="{{system.skills.body.might.intimidation.misc}}" />
        </td>
        <td>{{system.skills.body.might.intimidation.total}}</td>
        <td>
          <button
            type="button"
            class="roll-any"
            data-rolltype="skill"
            data-path="body.might.intimidation">
            🎲
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</details>
