<section class="tab-abilities">

  <header class="abilities-header">
    <h2>Abilities</h2>
    <p class="hint">
      Drag ability items onto this sheet to grant them. GMs can remove abilities using the trash icon.
    </p>
  </header>

  {{!-- Column headers --}}
  <div class="ability-columns flexrow">
    <div class="ability-name col-name"><strong>Ability</strong></div>
    <div class="ability-rank col-rank"><strong>Rank</strong></div>
    <div class="ability-action col-action"><strong>Action</strong></div>
    <div class="ability-tags col-tags"><strong>Tags</strong></div>
    <div class="ability-controls col-controls"><strong>Controls</strong></div>
  </div>

  {{!-- Racial Abilities --}}
  {{#if abilitiesBySource.racial.length}}
  <section class="ability-group">
    <h3>Racial Abilities</h3>
    <ol class="ability-list" data-source="racial">
      {{#each abilitiesBySource.racial as |ab|}}
      <li class="ability-item flexrow" data-item-id="{{ab._id}}">
        <div class="ability-name">
          <strong>{{ab.name}}</strong>
        </div>

        <div class="ability-rank">
          {{#if ab.system.details.rank}}
            {{lookup ../config.abilityRanks ab.system.details.rank}}
          {{/if}}
        </div>

        <div class="ability-action">
          {{#if ab.system.details.actionType}}
            {{lookup ../config.abilityActionTypes ab.system.details.actionType}}
          {{/if}}
        </div>

        <div class="ability-tags">
          {{ab.system.details.tags}}
        </div>

        <div class="ability-controls">
          {{#if ab.system.details.effect.roll}}
            <a class="ability-roll" data-item-id="{{ab._id}}" title="Roll Effect">
              <i class="fas fa-dice-d20"></i>
            </a>
          {{/if}}
          <a class="item-edit" data-item-id="{{ab._id}}" title="Edit Ability">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.user.isGM}}
            <a class="item-delete" data-item-id="{{ab._id}}" title="Remove Ability">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{!-- Rank Abilities --}}
  {{#if abilitiesBySource.rank.length}}
  <section class="ability-group">
    <h3>Rank Abilities</h3>
    <ol class="ability-list" data-source="rank">
      {{#each abilitiesBySource.rank as |ab|}}
      <li class="ability-item flexrow" data-item-id="{{ab._id}}">
        <div class="ability-name">
          <strong>{{ab.name}}</strong>
        </div>

        <div class="ability-rank">
          {{#if ab.system.details.rank}}
            {{lookup ../config.abilityRanks ab.system.details.rank}}
          {{/if}}
        </div>

        <div class="ability-action">
          {{#if ab.system.details.actionType}}
            {{lookup ../config.abilityActionTypes ab.system.details.actionType}}
          {{/if}}
        </div>

        <div class="ability-tags">
          {{ab.system.details.tags}}
        </div>

        <div class="ability-controls">
          {{#if ab.system.details.effect.roll}}
            <a class="ability-roll" data-item-id="{{ab._id}}" title="Roll Effect">
              <i class="fas fa-dice-d20"></i>
            </a>
          {{/if}}
          <a class="item-edit" data-item-id="{{ab._id}}" title="Edit Ability">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.user.isGM}}
            <a class="item-delete" data-item-id="{{ab._id}}" title="Remove Ability">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{!-- Background Abilities --}}
  {{#if abilitiesBySource.background.length}}
  <section class="ability-group">
    <h3>Background Abilities</h3>
    <ol class="ability-list" data-source="background">
      {{#each abilitiesBySource.background as |ab|}}
      <li class="ability-item flexrow" data-item-id="{{ab._id}}">
        <div class="ability-name">
          <strong>{{ab.name}}</strong>
        </div>

        <div class="ability-rank">
          {{#if ab.system.details.rank}}
            {{lookup ../config.abilityRanks ab.system.details.rank}}
          {{/if}}
        </div>

        <div class="ability-action">
          {{#if ab.system.details.actionType}}
            {{lookup ../config.abilityActionTypes ab.system.details.actionType}}
          {{/if}}
        </div>

        <div class="ability-tags">
          {{ab.system.details.tags}}
        </div>

        <div class="ability-controls">
          {{#if ab.system.details.effect.roll}}
            <a class="ability-roll" data-item-id="{{ab._id}}" title="Roll Effect">
              <i class="fas fa-dice-d20"></i>
            </a>
          {{/if}}
          <a class="item-edit" data-item-id="{{ab._id}}" title="Edit Ability">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.user.isGM}}
            <a class="item-delete" data-item-id="{{ab._id}}" title="Remove Ability">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{!-- Mark Abilities --}}
  {{#if abilitiesBySource.mark.length}}
  <section class="ability-group">
    <h3>Mark Abilities</h3>
    <ol class="ability-list" data-source="mark">
      {{#each abilitiesBySource.mark as |ab|}}
      <li class="ability-item flexrow" data-item-id="{{ab._id}}">
        <div class="ability-name">
          <strong>{{ab.name}}</strong>
        </div>

        <div class="ability-rank">
          {{#if ab.system.details.rank}}
            {{lookup ../config.abilityRanks ab.system.details.rank}}
          {{/if}}
        </div>

        <div class="ability-action">
          {{#if ab.system.details.actionType}}
            {{lookup ../config.abilityActionTypes ab.system.details.actionType}}
          {{/if}}
        </div>

        <div class="ability-tags">
          {{ab.system.details.tags}}
        </div>

        <div class="ability-controls">
          {{#if ab.system.details.effect.roll}}
            <a class="ability-roll" data-item-id="{{ab._id}}" title="Roll Effect">
              <i class="fas fa-dice-d20"></i>
            </a>
          {{/if}}
          <a class="item-edit" data-item-id="{{ab._id}}" title="Edit Ability">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.user.isGM}}
            <a class="item-delete" data-item-id="{{ab._id}}" title="Remove Ability">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{!-- Generic Abilities --}}
  {{#if abilitiesBySource.generic.length}}
  <section class="ability-group">
    <h3>Generic Abilities</h3>
    <ol class="ability-list" data-source="generic">
      {{#each abilitiesBySource.generic as |ab|}}
      <li class="ability-item flexrow" data-item-id="{{ab._id}}">
        <div class="ability-name">
          <strong>{{ab.name}}</strong>
        </div>

        <div class="ability-rank">
          {{#if ab.system.details.rank}}
            {{lookup ../config.abilityRanks ab.system.details.rank}}
          {{/if}}
        </div>

        <div class="ability-action">
          {{#if ab.system.details.actionType}}
            {{lookup ../config.abilityActionTypes ab.system.details.actionType}}
          {{/if}}
        </div>

        <div class="ability-tags">
          {{ab.system.details.tags}}
        </div>

        <div class="ability-controls">
          {{#if ab.system.details.effect.roll}}
            <a class="ability-roll" data-item-id="{{ab._id}}" title="Roll Effect">
              <i class="fas fa-dice-d20"></i>
            </a>
          {{/if}}
          <a class="item-edit" data-item-id="{{ab._id}}" title="Edit Ability">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.user.isGM}}
            <a class="item-delete" data-item-id="{{ab._id}}" title="Remove Ability">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

  {{!-- Other / Unknown source abilities --}}
  {{#if abilitiesBySource.other.length}}
  <section class="ability-group">
    <h3>Other Abilities</h3>
    <ol class="ability-list" data-source="other">
      {{#each abilitiesBySource.other as |ab|}}
      <li class="ability-item flexrow" data-item-id="{{ab._id}}">
        <div class="ability-name">
          <strong>{{ab.name}}</strong>
        </div>

        <div class="ability-rank">
          {{#if ab.system.details.rank}}
            {{lookup ../config.abilityRanks ab.system.details.rank}}
          {{/if}}
        </div>

        <div class="ability-action">
          {{#if ab.system.details.actionType}}
            {{lookup ../config.abilityActionTypes ab.system.details.actionType}}
          {{/if}}
        </div>

        <div class="ability-tags">
          {{ab.system.details.tags}}
        </div>

        <div class="ability-controls">
          {{#if ab.system.details.effect.roll}}
            <a class="ability-roll" data-item-id="{{ab._id}}" title="Roll Effect">
              <i class="fas fa-dice-d20"></i>
            </a>
          {{/if}}
          <a class="item-edit" data-item-id="{{ab._id}}" title="Edit Ability">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.user.isGM}}
            <a class="item-delete" data-item-id="{{ab._id}}" title="Remove Ability">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

</section>
