<section class="abilities-tab">

  <header class="abilities-header flexrow">
    <div class="col-name">Name</div>
    <div class="col-source">Source</div>
    <div class="col-rank">Rank</div>
    <div class="col-action">Action</div>
    <div class="col-range">Range</div>
    <div class="col-cost">Cost</div>
    <div class="col-effect">Effect</div>
  </header>

  <ol class="ability-list item-list">
    {{#each abilities as |ability|}}
      <li class="ability-item item flexrow" data-item-id="{{ability._id}}">
        <div class="col-name">
          <a class="item-edit" title="Edit Ability">{{ability.name}}</a>
        </div>

        <div class="col-source">
          {{ability.system.details.sourceType}}
        </div>

        <div class="col-rank">
          {{ability.system.details.rank}}
        </div>

        <div class="col-action">
          {{ability.system.details.actionType}}
          {{#if ability.system.details.actionCost}}
            ({{ability.system.details.actionCost}})
          {{/if}}
        </div>

        <div class="col-range">
          {{ability.system.details.range}}
        </div>

        <div class="col-cost">
          {{#if ability.system.details.cost.mana}}
            M: {{ability.system.details.cost.mana}}
          {{/if}}
          {{#if ability.system.details.cost.stamina}}
            {{#if ability.system.details.cost.mana}} / {{/if}}
            S: {{ability.system.details.cost.stamina}}
          {{/if}}
        </div>

        <div class="col-effect">
          {{ability.system.details.effect.type}}
          {{#if ability.system.details.effect.amount}}
            {{ability.system.details.effect.amount}}
          {{/if}}
          {{#if ability.system.details.effect.resource}}
            {{ability.system.details.effect.resource}}
          {{/if}}
        </div>
      </li>
    {{/each}}

    {{#unless abilities.length}}
      <li class="empty-note">
        No abilities yet. Drag ability items onto this actor or add them from a compendium.
      </li>
    {{/unless}}
  </ol>

</section>
