{{!-- templates/actor/parts/subparts/charinfo/raceinfo.hbs --}}

<section class="charinfo-section race-info">
  <header class="section-header">
    <h3>Race</h3>
  </header>

  <div class="section-body">

    {{!-- 1) Race dropdown --}}
    {{> "systems/marks-of-mezoria/templates/actor/parts/drops/racedrop.hbs"}}

    {{!-- 1b) Mythrian Tribe dropdown (only when race is Mythrian) --}}
    {{#if (eq system.details.race "mythrian")}}
      {{> "systems/marks-of-mezoria/templates/actor/parts/drops/tribedrop.hbs"}}
    {{/if}}

    {{!-- 2) Race description: updates when race is selected --}}
    {{#if system.details.race}}
      {{#with (lookup raceData.descriptions system.details.race) as |race|}}
        <div class="race-lore">
          {{#if race.img}}
            <img class="race-lore-img" src="{{race.img}}" alt="{{race.label}}" />
          {{/if}}

          <h4 class="race-lore-name">{{race.label}}</h4>

          <div class="race-lore-text">
            {{{race.description}}}
          </div>
        </div>
      {{/with}}
    {{else}}
      <p class="hint">Select a race to see its description.</p>
    {{/if}}

  </div>
</section>
