{{!-- templates/actor/parts/subparts/astats/body.hbs --}}

<div class="attr-block attr-body">

  <div class="field">
    <label>Body (Main)</label>
    <input type="number"
           name="system.attributes.body.value"
           value="{{system.attributes.body.value}}"
           data-dtype="Number" />
  </div>

  <div class="subattr-table">
    <div class="subattr-header">
      <span class="subattr-name"></span>
      <span>Race</span>
      <span>Background</span>
      <span>Mark</span>
      <span>Misc</span>
      <span>Total</span>
    </div>

    {{!-- MIGHT --}}
    <div class="subattr-row">
      <span class="subattr-name">Might</span>

      <span>
        <input type="number"
               value="{{system.attributes.body.might.race}}"
               data-dtype="Number"
               disabled />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.might.background"
               value="{{system.attributes.body.might.background}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.might.mark"
               value="{{system.attributes.body.might.mark}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.might.misc"
               value="{{system.attributes.body.might.misc}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               value="{{system.attributes.body.might.total}}"
               data-dtype="Number"
               disabled />
      </span>
    </div>

    {{!-- SWIFTNESS --}}
    <div class="subattr-row">
      <span class="subattr-name">Swiftness</span>

      <span>
        <input type="number"
               value="{{system.attributes.body.swiftness.race}}"
               data-dtype="Number"
               disabled />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.swiftness.background"
               value="{{system.attributes.body.swiftness.background}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.swiftness.mark"
               value="{{system.attributes.body.swiftness.mark}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.swiftness.misc"
               value="{{system.attributes.body.swiftness.misc}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               value="{{system.attributes.body.swiftness.total}}"
               data-dtype="Number"
               disabled />
      </span>
    </div>

    {{!-- ENDURANCE --}}
    <div class="subattr-row">
      <span class="subattr-name">Endurance</span>

      <span>
        <input type="number"
               value="{{system.attributes.body.endurance.race}}"
               data-dtype="Number"
               disabled />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.endurance.background"
               value="{{system.attributes.body.endurance.background}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.endurance.mark"
               value="{{system.attributes.body.endurance.mark}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.body.endurance.misc"
               value="{{system.attributes.body.endurance.misc}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               value="{{system.attributes.body.endurance.total}}"
               data-dtype="Number"
               disabled />
      </span>
    </div>
  </div>
</div>
