{{!-- templates/actor/parts/subparts/astats/soul.hbs --}}

<div class="attr-block attr-soul">

  <div class="field">
    <label>Soul (Main)</label>
    <input type="number"
           name="system.attributes.soul.value"
           value="{{system.attributes.soul.value}}"
           data-dtype="Number" />
  </div>

  <div class="subattr-table">
    <div class="subattr-header">
      <span class="subattr-name"></span>
      <span>Race</span>
      <span>Background</span>
      <span>Mark</span>
      <span>Misc</span>
      <span>Total</span>
    </div>

    {{!-- PRESENCE --}}
    <div class="subattr-row">
      <span class="subattr-name">Presence</span>

      <span>
        <input type="number"
               value="{{system.attributes.soul.presence.race}}"
               data-dtype="Number"
               disabled />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.presence.background"
               value="{{system.attributes.soul.presence.background}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.presence.mark"
               value="{{system.attributes.soul.presence.mark}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.presence.misc"
               value="{{system.attributes.soul.presence.misc}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               value="{{system.attributes.soul.presence.total}}"
               data-dtype="Number"
               disabled />
      </span>
    </div>

    {{!-- GRACE --}}
    <div class="subattr-row">
      <span class="subattr-name">Grace</span>

      <span>
        <input type="number"
               value="{{system.attributes.soul.grace.race}}"
               data-dtype="Number"
               disabled />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.grace.background"
               value="{{system.attributes.soul.grace.background}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.grace.mark"
               value="{{system.attributes.soul.grace.mark}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.grace.misc"
               value="{{system.attributes.soul.grace.misc}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               value="{{system.attributes.soul.grace.total}}"
               data-dtype="Number"
               disabled />
      </span>
    </div>

    {{!-- RESOLVE --}}
    <div class="subattr-row">
      <span class="subattr-name">Resolve</span>

      <span>
        <input type="number"
               value="{{system.attributes.soul.resolve.race}}"
               data-dtype="Number"
               disabled />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.resolve.background"
               value="{{system.attributes.soul.resolve.background}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.resolve.mark"
               value="{{system.attributes.soul.resolve.mark}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               name="system.attributes.soul.resolve.misc"
               value="{{system.attributes.soul.resolve.misc}}"
               data-dtype="Number" />
      </span>

      <span>
        <input type="number"
               value="{{system.attributes.soul.resolve.total}}"
               data-dtype="Number"
               disabled />
      </span>
    </div>
  </div>
</div>
