{{!-- templates/actor/parts/subparts/astats/soul.hbs --}}

<div class="attr-block attr-soul">

  <div class="field">
    <label>Soul (Main)</label>
    <input type="number"
           name="system.attributes.soul.value"
           value="{{system.attributes.soul.value}}"
           data-dtype="Number" />
  </div>

  <hr />

  <div class="attr-subtable">
    <div class="attr-row attr-header">
      <div class="attr-label"></div>
      <div class="attr-col">Race</div>
      <div class="attr-col">Background</div>
      <div class="attr-col">Mark</div>
      <div class="attr-col">Misc</div>
      <div class="attr-col">Total</div>
    </div>

    {{!-- PRESENCE --}}
    <div class="attr-row">
      <div class="attr-label">Presence</div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.presence.race"
               value="{{system.attributes.soul.presence.race}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.presence.background"
               value="{{system.attributes.soul.presence.background}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.presence.mark"
               value="{{system.attributes.soul.presence.mark}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.presence.misc"
               value="{{system.attributes.soul.presence.misc}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               value="{{system.attributes.soul.presence.total}}"
               data-dtype="Number"
               disabled />
      </div>
    </div>

    {{!-- GRACE --}}
    <div class="attr-row">
      <div class="attr-label">Grace</div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.grace.race"
               value="{{system.attributes.soul.grace.race}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.grace.background"
               value="{{system.attributes.soul.grace.background}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.grace.mark"
               value="{{system.attributes.soul.grace.mark}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.grace.misc"
               value="{{system.attributes.soul.grace.misc}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               value="{{system.attributes.soul.grace.total}}"
               data-dtype="Number"
               disabled />
      </div>
    </div>

    {{!-- RESOLVE --}}
    <div class="attr-row">
      <div class="attr-label">Resolve</div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.resolve.race"
               value="{{system.attributes.soul.resolve.race}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.resolve.background"
               value="{{system.attributes.soul.resolve.background}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.resolve.mark"
               value="{{system.attributes.soul.resolve.mark}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               name="system.attributes.soul.resolve.misc"
               value="{{system.attributes.soul.resolve.misc}}"
               data-dtype="Number" />
      </div>
      <div class="attr-col">
        <input type="number"
               value="{{system.attributes.soul.resolve.total}}"
               data-dtype="Number"
               disabled />
      </div>
    </div>

  </div>
</div>
