{{!-- templates/actor/parts/subparts/astats/status.hbs --}}

<div class="status-block status-core">

  <h3>Core Resources</h3>

  <div class="status-row">
    <h4>Vitality</h4>
    <div class="field">
      <label>Current</label>
      <input type="number"
             name="system.status.vitality.current"
             value="{{system.status.vitality.current}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Max</label>
      <input type="number"
             name="system.status.vitality.max"
             value="{{system.status.vitality.max}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Regen</label>
      <input type="number"
             name="system.status.vitality.regen"
             value="{{system.status.vitality.regen}}"
             data-dtype="Number" />
    </div>
  </div>

  <div class="status-row">
    <h4>Stamina</h4>
    <div class="field">
      <label>Current</label>
      <input type="number"
             name="system.status.stamina.current"
             value="{{system.status.stamina.current}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Max</label>
      <input type="number"
             name="system.status.stamina.max"
             value="{{system.status.stamina.max}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Regen</label>
      <input type="number"
             name="system.status.stamina.regen"
             value="{{system.status.stamina.regen}}"
             data-dtype="Number" />
    </div>
  </div>

  <div class="status-row">
    <h4>Mana</h4>
    <div class="field">
      <label>Current</label>
      <input type="number"
             name="system.status.mana.current"
             value="{{system.status.mana.current}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Max</label>
      <input type="number"
             name="system.status.mana.max"
             value="{{system.status.mana.max}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Regen</label>
      <input type="number"
             name="system.status.mana.regen"
             value="{{system.status.mana.regen}}"
             data-dtype="Number" />
    </div>
  </div>

</div>

<hr/>

<div class="status-block status-trauma-armor">

  <h3>Trauma &amp; Armor</h3>

  <div class="status-row">
    <h4>Trauma</h4>
    <div class="field">
      <label>Current</label>
      <input type="number"
             name="system.status.trauma.current"
             value="{{system.status.trauma.current}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Max</label>
      <input type="number"
             name="system.status.trauma.max"
             value="{{system.status.trauma.max}}"
             data-dtype="Number" />
    </div>
  </div>

  <div class="status-row">
    <h4>Natural Armor</h4>
    <div class="field">
      <label>Value</label>
      <input type="number"
             name="system.status.naturalArmor"
             value="{{system.status.naturalArmor}}"
             data-dtype="Number" />
    </div>
  </div>

  <div class="status-row">
    <h4>Armor Integrity</h4>
    <div class="field">
      <label>Current</label>
      <input type="number"
             name="system.status.armorIntegrity.current"
             value="{{system.status.armorIntegrity.current}}"
             data-dtype="Number" />
    </div>
    <div class="field">
      <label>Max</label>
      <input type="number"
             name="system.status.armorIntegrity.max"
             value="{{system.status.armorIntegrity.max}}"
             data-dtype="Number" />
    </div>
  </div>

  <div class="status-row">
    <h4>Shielding</h4>
    <div class="field">
      <label>Current</label>
      <input type="number"
             name="system.status.shielding.current"
             value="{{system.status.shielding.current}}"
             data-dtype="Number" />
    </div>
  </div>

</div>
